<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-10867545-12"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-10867545-12');
	</script>

	<meta charset="utf-8" />
	<title>@ViewBag.Title - My ASP.NET MVC Application</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<meta name="viewport" content="width=device-width" />
	@Styles.Render("~/Content/css")
	@Styles.Render("~/bootstrap-style")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/chiri")
	@*@Scripts.Render("~/bootstrap-js") *@

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>*@	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker-standalone.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>		
</head>
<body>
	<header>
		<div class="content-wrapper">
			<div class="float-left">
				<img src="~/Recursos/Logo.png" width="120px" height="106px" />
				<p class="site-title">@Html.ActionLink("Control de Cartones", "Index", "Home")</p>
			</div>
			@*<div class="float-right">
					<section id="login">
						@Html.Partial("_LoginPartial")
					</section>
					<nav>
						<ul id="menu">
							<li>@Html.ActionLink("Home", "Index", "Home")</li>
							<li>@Html.ActionLink("About", "About", "Home")</li>
							<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
						</ul>
					</nav>
				</div>*@
		</div>
	</header>
	<div id="body">
		@RenderSection("featured", required: false)
		<section class="content-wrapper main-content clear-fix">
			@RenderBody()
		</section>
	</div>
	<footer>
		<div class="content-wrapper">
			<div class="float-left">
				<p>&copy; @DateTime.Now.Year - La Chiri | Desarrollo: <a href="http://www.fenecstudio.com" target="_blank">Fenec Studio</a> | Powered by: ASP.NET MVC</p>
			</div>
		</div>
	</footer>

	@RenderSection("scripts", required: false)
	<script>

		$(".number").keydown(function (e) {
			// Permite: backspace, delete, tab, escape, enter and .
			if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
				// Permite: Ctrl+A
				(e.keyCode == 65 && e.ctrlKey === true) ||
				// Permite: home, end, left, right
				(e.keyCode >= 35 && e.keyCode <= 39)) {
				// solo permitir lo que no este dentro de estas condiciones es un return false
				return;
			}
			// Aseguramos que son numeros
			if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
				e.preventDefault();
			}
		});

	</script>

</body>
</html>
